################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/vAggregator.Shell.Common/obj
/vAggregator.Shell.Common/bin
/vAggregator.Shell.Data/bin
/vAggregator.Shell.Data/obj
